.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#name {
	text-align: justify;
}

#contactDetails {
	float: right;
	
}

.sectionTitle {
	float: left;
	width: 20%;
	color:#cf8a05;
	font-family: Arial, sans-serif;
}

.sectionContent {
	float: right;
	width: 72.5%;
	border-top: 1px solid #dedede;
	text-align: 1em;
}

#mainArea{
	margin-right: 75px;
	margin-left: 75px;
	border-top: 2px solid #cf8a05;
}

.sectionTitle > h1{
	margin-left: 40px;
	font-size: larger;
}

.subDetails{
	font-style: italic;
}
